#root {
    height: 100vh;
    background-color: rgb(73, 166, 222);
    color: #fff;
}

.login-form {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.login-form form {
    margin-bottom: 15%;
}

.login-form input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}

.login-form button {
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}

input[placeholder] {
    color: #fff!important;
}

.logo{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40%;
}

.logo img {
    width: 100px;
    display: block;
    margin: 0 auto;
}
.logo p {
    line-height: 16px;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.full-width {
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
